.App {
  text-align: center;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgba(255, 183, 0, 0.982), #333);
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(rgba(134, 98, 5, 0.982), #fff);
}
