@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.4em;
  background: #dfdfdf;
  color: #333;
}
input,
textarea,
select {
  color: #333;
  padding: 12px;
  /* font-size: 10px; */
  font-family: Raleway;
  font-size: 0.8em;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
input::placeholder {
  font: 15px/3 Raleway;
}
button {
  font-family: Raleway;
  width: 100px;
  font-size: 0.85em;
  color: #fff;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background-color: rgba(255, 183, 0, 0.982);
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}
